*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0px;
    background-color: #0000;
    color: white;
}

.logo{
    width: 400px;
}

.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 10%;
}